<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>borrowing form</title>
</head>
    <body>
    <form action="/save" method="post" th:object="${borrowing}">
        <label>Person ID:</label>
        <input type="number" th:field="*{p_id}" /><br>
        <label>Name:</label>
        <input type="text" th:field="*{name}" /><br>
        <label>Book:</label>
        <input type="text" th:field="*{book}" /><br>
        <button type="submit">บันทึก</button>
    </form>
    </body>
</html>